{{ ... }}
<meta charset="utf-8">

<!-- Open Graph / Social Media Meta Tags -->
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="{% if page.date %}article{% else %}website{% endif %}" />
<meta property="og:image" content="{% if page.header.teaser %}{{ site.url }}{{ page.header.teaser }}{% elsif page.header.overlay_image %}{{ site.url }}{{ page.header.overlay_image }}{% else %}{{ site.url }}{{ site.teaser }}{% endif %}" />

<!-- For all browsers -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/custom-nav.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/nav-override.css' | relative_url }}">
<link rel="preload" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
{{ ... }}